POSTGRES_DB=test_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

DATABASE_URL=postgresql://postgres:root@localhost:5432/test_db

SECRET_KEY=your-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256