# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env

# Docker
*.log

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# migrations cache
alembic/versions/*.pyc

# pytest
.pytest_cache/

# coverage
htmlcov/
.coverage

# SSH keys
*.pem
*.key
lost_laptop_key
lost_laptop_key.pub
deploy_key
deploy_key.pub